<div class="container-fluid px-5">
    {{#each unsavedReviews}}
    <div class="row text-center">
        <div class="col-md-3 d-flex align-items-center">
            <div class="flex-column">
                <img src="assets/images/{{reviewSource}}.png" alt="source-logo" />

                <h3 class="text-danger">{{reviewTitle}}</h3>
            </div>
        </div>

        <div class="col-md-7 d-flex align-items-center">
            <div class="flex-column">
                <p>{{reviewSummary}}</p>

                <a href={{reviewURL}}>{{reviewURL}}</a>
            </div>
        </div>

        <div class="col-md-2 d-flex align-items-center">
            <div class="flex-column ml-auto mr-4">
                <h3 class="reviewScore mx-auto bg-warning border border-danger text-center d-flex align-items-center justify-content-center">
                    <span>{{reviewScore}}</span>
                </h3>

                <h5 class="scoreLabel pixelated mb-3">Score</h4>

                    <button data-id={{_id}} class="saveButton btn btn-danger">Save Review</button>
            </div>
        </div>
    </div>

    <hr class="reviewHr border border-danger rounded my-3" />
    {{/each}}
    {{#ifLength unsavedReviews 0}}
    <div class="replacementDiv d-flex align-items-center justify-content-center py-4 w-100">
        <div class="flex-column text-center w-100">
            <h1 class="pixelated text-center text-danger">No unsaved reviews.</h1>

            <img class="sadCrono mb-2" src="assets/images/sad-crono.png" alt="sad-crono" />

            <div class="card w-100">
                <div class="card-header bg-danger">
                    <h4 class="pixelated card-title text-white mb-0">What would you like to do?</h4>
                </div>

                <div class="card-body pt-2 px-0">
                    <h4 id="scrapeReviewsLink" class="pixelated noReviewLink text-danger py-2 mt-1 mb-2">Scrape new
                        reviews.</h4>

                    <h4 id="viewSavedLink" class="pixelated noReviewLink text-danger py-2 mb-0">View saved reviews.</h4>
                </div>
            </div>
        </div>
    </div>
    {{/ifLength}}
</div>